<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css " />
  </head>
  <body>
    <h1>ABOUT</h1>

    <ul>
      <li><a href="/home">HOME</a></li>
      <li><a href="/works">WORKS</a></li>
    </ul>

    <img src="/images/licensed-image.jpeg" alt="Leonardo da Vinci" />

    <ul>
      <li>Born 15 April 1452 in Anchiano</li>
      <li>Death 2 May 1519 in Amboise</li>
      <li>Italian Artist, Architect, Engineer and Philosopher</li>
    </ul>
  </body>
</html>
