<h1>{{message}}</h1>

<img src='/images/licensed-image.jpeg' alt='Leonardo da Vinci' />

<ul class='list'>
  <li>Born 15 April 1452 in Anchiano</li>
  <li>Death 2 May 1519 in Amboise</li>
  <li>Italian Artist, Architect, Engineer and Philosopher</li>
</ul>