<h1>{{message}}</h1>

<figure>
  <img src='/images/lastsupper.jpeg' alt='last supper image' />
  <figcaption>Fresco: The Last Supper</figcaption>
</figure>

<hr />

<figure>
  <img src='/images/monalisa.jpeg' alt='mona lisa image' />
  <figcaption>Painting: Mona Lisa</figcaption>
</figure>

<hr />

<figure>
  <img src='/images/anatomy.jpeg' alt='anatomy man image' />
  <figcaption>Philosophy and Anatomy</figcaption>
</figure>

<hr />

<figure>
  <img src='/images/tank.jpeg' alt='invention image' />
  <figcaption>Inventions</figcaption>
</figure>